.bike-list {
  margin: 2rem 0;
  .bike {
    margin: 2rem 0;
    height: 10rem;
    border: 2px solid #999;
    display: flex;
    &:first-child {
      margin-top: 0;
    }
    .bike-thumbnail {
      width: 14rem;
      background-color: #999;
    }
    .bike-thumbnail-details {
      display: flex;
      align-items: center;
      width: 100%;
      h3 {
        margin-left: 2rem;
      }
    }
  }
}
